#include <behaviors/mouse_move.dtsi>
#include <behaviors/animation_control.dtsi>
#include <behaviors/animation_trigger.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk_driver_animation/animation_control.h>
#include <dt-bindings/zmk_driver_animation/animation_trigger.h>
#include <dt-bindings/zmk_behavior_default_layer/default_layer.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

// Layer definitions

#define DEFAULT_L 0
#define WINDOWS_L 1
#define MAC_L 2
#define IOS_L 3
#define LINUX_L 4
#define LEFT_L 5
#define RIGHT_L 6
#define CONFIG_L 7
#define TRACKBALL_L 8
#define SCROLL_L 9
#define EXT1_L 10
#define EXT2_L 11
#define EXT3_L 12

&trackball_listener {
    // When trackball is used, TRACKBALL_L layer is activated.
    // After 500ms of trackball inactivity, the layer is deactivated.

    input-processors = <&zip_temp_layer TRACKBALL_L 500>;
};

&trackball_scroller { layers = <SCROLL_L>; };

&trackball_listener_l { input-processors = <&zip_temp_layer TRACKBALL_L 500>; };

&trackball_scroller_l { layers = <SCROLL_L>; };

&zip_temp_layer { excluded-positions = <19 20 21 22 32 33 41 52 53 54 55 56 57 58 59>; };

/ {
    behaviors {
        // ctrl+h as backspace

        hbackspace: h_or_ctrl_backspace {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp H>, <&kp BACKSPACE>;

            mods = <(MOD_LCTL)>;
        };

        // ctrl+j as enter

        jenter: j_or_ctrl_enter {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp J>, <&kp ENTER>;

            mods = <(MOD_LCTL)>;
        };

        // output for tap, bt for hold

        outbt: out_bt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <1000>;
            bindings = <&bt1param>, <&out>;

            display-name = "Out-BT";
        };

        tog_off: toggle_layer_off_only {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer Off";
            toggle-mode = "off";
        };
    };

    macros {
        out_bt_nxt: out_bt_nxt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <50>;

            // Disconnect from all once for reliable connection to selected profile.
            // ZMK automatically reconnects to current profile right after disconnection.

            bindings = <&out OUT_BLE &bt BT_NXT &bt BT_DISC 0 &bt BT_DISC 1 &bt BT_DISC 2 &bt BT_DISC 3 &bt BT_DISC 4>;
        };

        dfnxt: dfnxt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&df DF_INC &animtrig ANM_TRG 2>;
        };

        // macro to use &bt in hold-tap. two param command is not supported in hold-tap for now.

        bt1param: bt_1param {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            wait-ms = <0>;
            bindings = <&macro_param_1to1 &bt MACRO_PLACEHOLDER 0>;
        };

        // diactivate speficied layer and execute &mo to disable trackball temp layer disable callback

        mo2: mo2 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&macro_param_1to1 &tog_off MACRO_PLACEHOLDER &macro_param_1to1 &mo MACRO_PLACEHOLDER>;
        };
    };

    combos {
        compatible = "zmk,combos";

        // Right side's setting button shares input pin with arrow keys.
        // It works as a combo of two arrow keys.

        setting_r1 {
            timeout-ms = <10>;
            key-positions = <47 50>;
            bindings = <&kp C_VOL_DN>;
        };

        setting_r2 {
            timeout-ms = <10>;
            key-positions = <47 49>;
            bindings = <&kp C_VOL_UP>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // template {
        //     bindings = <
        //         &trans      &trans      &trans      &trans      &trans      &trans      /**/ &trans      &trans      &trans      &trans      &trans      &trans
        //         &trans      &trans      &trans      &trans      &trans      &trans      /**/ &trans      &trans      &trans      &trans      &trans      &trans
        //         &trans      &trans      &trans      &trans      &trans      &trans      /**/ &trans      &trans      &trans      &trans      &trans      &trans
        //                     &trans      &trans      &trans      &trans      &trans      /**/ &trans      &trans      &trans      &trans
        //
        //         &trans      &trans                                                      /**/ &trans      &trans      &trans      &trans
        //         &trans      &trans      &trans      &trans                              /**/ &trans      &trans      &trans      &trans
        //     >;
        // };

        default_layer {
            display-name = "Base Layer";

            // --------------------------------------------------------------------------------------------------------------------------------------------------
            // |   TAB   |    Q    |    W    |    E       |    R             |    T    |            |    Y    |    U             |    I     |    O    |    P    |    [    |
            // |   CTRL  |    A    |    S    |    D       |    F             |    G    |            |    H    |    J             |    K     |    L    |    ;    |    '    |
            // |  SHIFT  |    Z    |    X    |    C       |    V             |    B    |            |    B    |    N             |    M     |    ,    |    .    |    /    |
            //           |   ALT   |   CMD   |   Cmd (En) |  SPACE or LOWER  |Cmd (En) |            | Cmd(ja) |  Space or LOWER2 |          |         |
            // --------------------------------------------------------------------------------------------------------------------------------------------------
            // | BLE     |  USB    |                                                                |  left   | up   | down | right |
            // | touch1  | touch2  | touch3  | touch 4    |                                         | touch1  | touch2  | touch3  | touch 4 |

            bindings = <
&kp TAB                    &kp Q         &kp W     &kp E     &kp R             &kp T      &kp Y         &kp U              &kp I     &kp O      &kp P     &kp LBKT
&kp LCTRL                  &kp A         &kp S     &kp D     &kp F             &kp G      &hbackspace   &jenter            &kp K     &kp L      &kp SEMI  &kp SQT
&kp LSHIFT                 &kp Z         &kp X     &kp C     &kp V             &kp B      &kp B         &kp N              &kp M     &kp COMMA  &kp DOT   &kp FSLH
                           &mo CONFIG_L  &kp LWIN  &kp LALT  &lt LEFT_L SPACE  &kp SPACE  &kp SPACE     &lt RIGHT_L SPACE  &none     &none
&outbt BT_CLR_CMD OUT_TOG  &out_bt_nxt                                                    &kp UP        &kp LEFT           &kp DOWN  &kp RIGHT
&mo SCROLL_L               &mo SCROLL_L  &none     &none                                  &mo SCROLL_L  &mo TRACKBALL_L    &none     &none
            >;
        };

        windows_default_layer {
            display-name = "Windows Default";
            bindings = <
&trans  &trans  &trans    &trans          &trans  &trans          &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans    &trans          &trans  &trans          &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans    &trans          &trans  &trans          &trans          &trans  &trans  &trans  &trans  &trans
        &trans  &kp LWIN  &mt LALT LANG2  &trans  &mt LALT LANG2  &mt RALT LANG1  &trans  &trans  &trans
&trans  &trans                                                    &trans          &trans  &trans  &trans
&trans  &trans  &trans    &trans                                  &trans          &trans  &trans  &trans
            >;
        };

        mac_default_layer {
            display-name = "Mac Default";
            bindings = <
&trans  &trans  &trans    &trans          &trans  &trans          &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans    &trans          &trans  &trans          &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans    &trans          &trans  &trans          &trans          &trans  &trans  &trans  &trans  &trans
        &trans  &kp LALT  &mt LCMD LANG2  &trans  &mt LCMD LANG2  &mt RCMD LANG1  &trans  &trans  &trans
&trans  &trans                                                    &trans          &trans  &trans  &trans
&trans  &trans  &trans    &trans                                  &trans          &trans  &trans  &trans
            >;
        };

        ios_default_layer {
            display-name = "iOS Default";
            bindings = <
&trans  &trans  &trans    &trans          &trans  &trans          &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans    &trans          &trans  &trans          &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans    &trans          &trans  &trans          &trans          &trans  &trans  &trans  &trans  &trans
        &trans  &kp LALT  &mt LCMD LANG2  &trans  &mt LCMD LANG2  &mt RCMD LANG1  &trans  &trans  &trans
&trans  &trans                                                    &trans          &trans  &trans  &trans
&trans  &trans  &trans    &trans                                  &trans          &trans  &trans  &trans
            >;
        };

        linux_default_layer {
            display-name = "Linux Default";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans                                  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans
            >;
        };

        left_layer {
            display-name = "Left SPACE";

            // --------------------------------------------------------------------------------------------------------------------------------------------------------------------
            // |  ESC    |  !  |  @  |  #       |  $  |  %       |                           |  ^  |  &      |  *      |  (  |  )  |  ]  |
            // |         |  1  |  2  |  3       |  4  |  5       |                           |  6  |  7      |  8      |  9  |  0  |  \  |
            // |         |     |     |          |     |          |                           |  `  |  -      |  =      |  [  |  ]  |SHIFT|
            //           |     |     |          |     |          |                           |     |         |         |     |

            bindings = <
&kp ESC  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT     &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR  &kp RBKT
&trans   &kp N1    &kp N2  &kp N3    &kp N4    &kp N5        &kp N6     &kp N7     &kp N8     &kp N9    &kp N0    &kp BACKSLASH
&trans   &trans    &trans  &trans    &trans    &trans        &kp GRAVE  &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT  &kp RSHIFT
         &trans    &trans  &trans    &trans    &mo CONFIG_L  &trans     &trans     &trans     &trans
&trans   &trans                                              &trans     &trans     &trans     &trans
&trans   &trans    &trans  &trans                            &none      &none      &trans     &trans
            >;
        };

        right_layer {
            display-name = "Right SPACE";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans        &kp PG_UP     &kp UP        &kp PG_DN  &trans  &kp C_AL_LOCK
&trans  &trans  &trans  &trans  &trans  &trans  &trans        &kp LEFT      &kp DOWN      &kp RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &kp C_MUTE    &kp C_VOL_DN  &kp C_VOL_UP  &trans     &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &mo CONFIG_L  &trans        &trans        &trans
&trans  &trans                                  &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans                  &none         &none         &trans        &trans
            >;
        };

        config_layer {
            display-name = "Config Layer";
            bindings = <
&bootloader  &none       &none           &none  &none  &animtrig ANM_TRG 0  &animctl ANM_EN   &animctl ANM_DS   &animctl ANM_INC  &none  &none  &bootloader
&sys_reset   &none       &none           &none  &none  &animtrig ANM_TRG 1  &animctl ANM_BRI  &animctl ANM_BRD  &none             &none  &none  &sys_reset
&none        &none       &none           &none  &none  &animtrig ANM_TRG 2  &none             &none             &none             &none  &none  &none
             &none       &studio_unlock  &none  &none  &none                &none             &none             &none             &none
&dfnxt       &bt BT_CLR                                                     &none             &none             &none             &none
&none        &none       &none           &none                              &none             &none             &none             &none
            >;
        };

        trackball_layer {
            display-name = "Trackball Pointer";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans        &trans    &trans            &trans     &trans     &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans        &trans    &mkp LCLK         &mkp RCLK  &mkp RCLK  &mo SCROLL_L  &kp RALT
&trans  &trans  &trans  &trans  &trans  &trans        &trans    &mkp MCLK         &mkp LCLK  &trans     &trans        &trans
        &trans  &trans  &trans  &trans  &mo SCROLL_L  &mkp MB4  &mkp MB5          &trans     &trans
&trans  &trans                                        &trans    &trans            &trans     &trans
&trans  &trans  &trans  &trans                        &trans    &mo2 TRACKBALL_L  &trans     &trans
            >;
        };

        scroll_layer {
            display-name = "Trackball Scroll";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans                                  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans
            >;
        };

        extra1 { status = "reserved"; };

        extra2 { status = "reserved"; };

        extra3 { status = "reserved"; };
    };
};
