
if SHIELD_DYA_DASH_RIGHT

config ZMK_KEYBOARD_NAME
    default "Dya Dash KB"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config PMW3610
    default y
config ZMK_POINTING
    default y

config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_PROXY
    default y
config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING
    default y
# config ZMK_STUDIO
#     default y
config ZMK_DEFAULT_LAYER_MIN_INDEX
    int "min layer index configurable as default layer"
    default 0

config ZMK_DEFAULT_LAYER_MAX_INDEX
    int "max layer index configurable as default layer"
    default 4
# config ZMK_STUDIO_LOCKING
#     default n
endif

if SHIELD_DYA_DASH_LEFT || SHIELD_DYA_DASH_RIGHT

config ZMK_SPLIT
    default y
config ZMK_BATTERY_REPORTING
    default y
config LED_STRIP
    default y
config SPI
    default y
config ZMK_SLEEP
    default y
config ZMK_PM_SOFT_OFF
    default y
config ZMK_DEFAULT_LAYER
    default y
config ZMK_DRIVER_EXT_POWER_TRANSIENT
    default y
config ZMK_SETTINGS_SAVE_DEBOUNCE
    default 10000

endif
